<div id="frontPageWrapper">
	
<div id="frontpageLogoWrapper">
<a href="/"> <img id="frontpageLogo" src="http://files.bestpracticestore.com/files/images/bpslogowhiteclear.png"></a>
</div>

<p id="tagline">Project Manager Development Tool</p>

<table id="frontpageButtonWrapper">
	
<% if user_signed_in?%>

<th></th>
<th></th>

<tr>
<td><%= link_to "Create Project", new_project_path, id: "newProject", class: "myButton" %></td>
<td><%= link_to "View Projects", projects_path, id: "viewProjects", class: "myButton" %></td>
</tr>

<tr>
<td><%= link_to "Edit Account", edit_user_registration_path, id: "editAccount", class: "myButton" %></td>
<td><%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "signOut", class: "myButton" %></td>
</tr>

<% else %>

<th></th>
<th></th>

<tr>
<td><%= link_to "Sign in", new_user_session_path, id: "signIn", class: "myButton" %></td>
<td><%= link_to "Sign up", new_user_registration_path, id: "signUp", class: "myButton" %></td>
</tr>

<% end %>

</table>

</div>
