<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputWrapper">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "inputField", class: "shortField"%>
  </div>
  
  <div class="inputWrapper">
    <%= f.label :price %> (written such as 100.00)<br>
    <%= f.number_field :price, class: "inputField", class: "shortFieldPrice" %>
  </div>
  <div class="inputWrapper">
    <%= f.label :category %><br>
    <%= f.select :category, ['Compliance','Revenue Cycle','Technology','Clinical','Safety','Patient Satisfaction','Strategy','Marketing'] %>
  </div>
  
  <div class="inputWrapper">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "inputField" %>
  </div>
  
  <div class="inputWrapper">
    <%= f.submit "Save Best Practice Guide", class: "signInButton" %>
  </div>
  
<% end %>
