<% if user_signed_in? && current_user == @project.user %>

<table id="headerControlsWrapper">
	<tr>
		<td><%= link_to "Sign out?", destroy_user_session_path, method: :delete, id: "headerSignOut" %></td>
	</tr>
	<tr>
		<td><%= link_to "Modify Account", edit_user_registration_path, id: "headerModify" %></td>
	</tr>
	<tr>
		<td id="signedInAs"> + Signed in as <%= current_user.username %>. </td>
	</tr>
</table>

<div id="internalLogoWrapper">
	<a href="/"> <img id="internalLogo" src="http://files.bestpracticestore.com/files/images/bpslogowhiteclear.png"></a>
</div>

<div id="createProjectWrapper">
	
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @project.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Make Changes', edit_project_path(@project) %> |
<%= link_to 'Guide List', projects_path %>

<% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>

</div>
