<% if user_signed_in? && current_user == @project.user %>

<%= render 'layouts/navController' %>

<div id="internalLogoWrapper">
	<a href="/"> <img id="internalLogo" src="http://files.bestpracticestore.com/files/images/bpslogowhiteclear.png"></a>
</div>

<div id="createProjectWrapper">
	
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @project.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Make Changes', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<% else %>

<script type="text/javascript">window.location.href = "/"</script>

<% end %>

</div>
